@font-face {
    font-family: 'LilitaOne-Regular';
    src: url('Font/LilitaOne-Regular.ttf') format('truetype');
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Убираем прокрутку */
    font-family: 'LilitaOne-Regular';
    background: #000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#gameCanvas {
    display: block;
    width: 100vw; /* 100% ширины экрана */
    height: 100vh; /* 100% высоты экрана */
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: crisp-edges;
}

#redirect {
    position: fixed;
    top: 25px;
    left: 25px;
    color: white;
    background-color: #E3AC52;
    font-size: 18px;
    padding: 4px 15px;
    border: 1px solid white;
    border-radius: 14px;
    cursor: pointer;
}

#ui {
    position: absolute;
    top: 2vh;
    left: 85%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    color: white;
    text-align: center;
    z-index: 2;
}

.coin-container {
    position: relative;
    width: 10vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin-icon {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('textures/coin.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#coin-count-text {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 1.7vh;
    color: white;
    z-index: 1;
}

.progress-container {
    position: absolute;
    left: 2vw; /* Отодвигаем панель немного вправо */
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%); /* Сохраняем центрирование */
    width: 60px; /* Устанавливаем ширину панели */
    height: 500px; /* Устанавливаем высоту панели */
    z-index: 2; /* Убедимся, что панель находится выше других элементов */
     /* Добавим фон для видимости */
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('textures/progress-bar.png');
    background-size: cover;
    z-index: 1;
}

.player-icon {
    position: absolute;
    bottom: 0;
    left: 50%; /* Центрируем иконку внутри прогресс-бара */
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-image: url('textures/player-icon.png');
    background-size: contain;
}


.progress-background {
    position: absolute;
    width: 93%;
    height: 6%;
    background-color: rgba(246, 176, 62, 1);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 94%);
    border-radius: 21px;
    border: 2px solid black;
    z-index: 0;
}

#progress-text {
    position: absolute;
    bottom: 0;
    left: 55%;
    transform: translate(-50%, 100%);
    color: white;
    font-family: 'LilitaOne-Regular';
    font-size: 2vh;
}

.tap-bar-container {
    position: absolute;
    bottom: 11vh;
    left: 50%;
    width: 90%;
    max-width: 236px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    z-index: 2;
    border-radius: 10px;
    background-color: rgba(0, 102, 255, 0.1);
}

.tap-fill {
    height: 100%;
    background-color: rgba(0, 102, 255, 1);
    border-radius: 100px;
    z-index: 0;
    width: 100%;
    transform-origin: left; /* Устанавливаем точку начала трансформации слева */
}

.tap-bar {
    position: absolute;
    width: 102%;
    height: 100%;
    background-image: url('textures/tap-bar.png');
    background-size: cover;
    z-index: 1;
}

.tap-count-container {
    position: absolute;
    bottom: 13vh;
    left: 31%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    font-size: 2vh;
    color: white;
    z-index: 3;
}

.tap-count-container img {
    margin-left: 1vh;
    width: 1vh;
    height: 2vh;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    #ui {
        top: 1vh;
        left: 80%;
        font-size: 2vh;
    }

    .progress-container {
        left: 2vw;
        top: 40vh;
        width: 42px;
        height: 362px;
    }

    .tap-count-container {
        bottom: 15vh;
        left: 50%;
        font-size: 1.5vh;
    }

    .tap-bar-container {
        bottom: 8vh;
        max-width: 248px;
    }
    
    #redirect {
        top: 20px;
        left: 20px;
        font-size: 16px;
    }

    .coin-icon {
        width: 8vh;
        height: 8vh;
    }


}
